# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*~

# Scope logs
*.bin

# Output executables
chee-z-print
novena-scope
devmem2

# vim swapfiles
*.swp
*.swo

# Kernel compile files
*.cmd
.tmp_versions
*.symvers
*.mod.c
modules.order
